.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.bg-card {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin-bottom: 40px;
  margin-right: 40px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-top: 25px;
}
.description-conatiner {
  width: 90%;
}

.title {
  font-family: 'Roboto';
  font-size: 18px;
  color: #171f46;
}

.course-description {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
}

.image {
  align-self: flex-end;
  width: 90%;
  max-width: 80px;
}
